@charset "UTF-8";
/* CSS Document */

body
{
	background-color:#000;
}

#wrapper
{
	
}


#headerBack {
        width:100%;
        height:200px;
        display:block;
        margin:auto;
        position:relative;
		z-index:4;
        }

#headerBgtx {
		width: 100%;
		height: auto;
}


#xmenLogo {
        width:17%;
        height:auto;
        position:absolute;
        top:0%;
        left:42%;
		z-index:6;
        }       


#leftDragon {
        width:4%;
        height:auto;
        position:absolute;
        top:7%;
        left:2%;
		opacity:0.5;
        }       

#rightDragon {
        width:4%;
        height:auto;
        position:absolute;
        top:7%;
        right:2%;
		opacity:0.5;
        } 

#headerFootBg {
	width:100%;
	height:auto;
	position:relative;
}


nav {
	height: 80px;
	width: 100%;
	position: relative;
	background-image:url(../images/headerBgtx.png);
}

nav ul {
	padding: 0;
	margin: 0 auto;
	width: 800px;
}

nav li {
	display: inline;
	float: left;
	width: 200px;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

nav a {
	display: inline-block;
	width: 144px;
}

nav a#pull {
	display: none;
}


#mainContent {
	    width:800px;
        height:auto;
        display:block;
		top:0%;
        margin:auto;
        position:relative;
		background-image:url(../images/mainContentBg.png);
		background-repeat:repeat-y;
}


#mainContent p {
	margin: auto;
	text-align:center;
	padding:4%;
	color:#b7aa80;
}

#mainContent img {
	display:inline;
	margin-left: 47%;
	padding-top: 0%;
}






@media screen and (max-width: 800px) {
	nav { 
  		height: auto;
  	}
  	nav ul {
  		width: 100%;
  		display: block;
  		height: auto;
  	}
  	nav li {
  		width: 50%;
  		float: left;
  		position: relative;
  	}
  	nav li a {
		border-bottom: 1px solid #151515;
		border-right: 1px solid #151515;
	}
  	nav a {
	  	text-align: center;
	  	width: 100%;
	  	text-indent: 20px;
  	}
	
#mainContent {
	    width:100%;
        height:auto;
        display:block;
		top:-8%;
        margin-left:0%;
        position:relative;
		background-image:url(../images/mainContentBg.png);
		background-repeat:repeat;
}

}


@media only screen and (max-width : 480px) {
	nav {
		border-bottom: 0;
	}
	nav ul {
		display: none;
		height: auto;
	}
	nav a#pull {
		display: block;
		width: 100%;
		position: relative;
	}
	nav a#pull:after {
		content:"";
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
	
	#mainContent {
	    width:100%;
        height:auto;
        display:block;
		top:-8%;
		margin-left:0%;
        position:relative;
		background-image:url(../images/mainContentBg.png);
		background-repeat:repeat;
}
}


@media only screen and (max-width : 320px) {
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	nav li a {
		border-bottom: 1px solid #151515;
	}
}
